<div class="container">
  <h2 class="title">Your Watchlist</h2>

  <div>
    @if(wishlistDisplay.length === 0) {
      <p>No movies or TV shows in your watchlist yet.</p>
    }
  </div>

  <div class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
    @for(item of wishlistDisplay; track item.id) {
      <div class="bg-white shadow rounded-lg !p-4 text-center">
        <a [routerLink]="['/moviedetails', item.id]">
          <img [src]="'https://image.tmdb.org/t/p/w500' + item.poster"
               [alt]="item.title"
               class="w-full rounded !mb-2" />

          <h3 class="font-semibold text-base !mb-1 truncate">
            {{ item.title }}
          </h3>

          <p class="text-sm text-gray-500">
            {{ item.date }}
          </p>
        </a>

        <button (click)="remove(item.id)"
                class="!mt-2 !px-3 !py-1 bg-red-600 text-white rounded hover:bg-red-700 cursor-pointer transition duration-700">
          Remove
        </button>
      </div>
    }
  </div>
</div>